/*----------------
RESET CSS
-----------------*/
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  background: #fff;
  color: #000000;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
table,
tr,
td {
  border: 0;
}
a {
  outline: none;
  color: #333;
  text-decoration: none;
}
a:hover {
  outline: none;
  color: #000;
  text-decoration: none;
}
img {
  border: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
.img-full {
  max-width: 100%;
}
.clearall {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
.clearfix:before,
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
/*-----------------------
MAIN CSS START
------------------------*/
.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
/*********************************/

/*------------------------
CSS FOR BANNER
-------------------------*/
.chk-bg {
  float: left;
  width: 100%;
  background: url("../images/chkout-bg.jpg") no-repeat center top;
}
.ckh-in {
  width: 100%;
  float: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.chk-top-row {
  float: left;
  width: 100%;
  padding: 20px 15px;
}
.logo {
  float: left;
  max-width: 100%;
}
.chk-stps {
  float: right;
  max-width: 100%;
}
/*------------------------
CSS FOR red bar
-------------------------*/
.red-bar {
  float: left;
  width: 100%;
  padding: 11px 5px;
  background: #ff0600;
}
.red-bar p {
  float: left;
  width: 100%;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}
.red-bar p span {
  font-size: 40px;
  font-weight: 700;
  vertical-align: bottom;
}
.clk {
  vertical-align: middle;
  margin-left: 8px;
}
/*------------------------
CSS FOR PACKAGE DIV
-------------------------*/
.pakage-div {
  float: left;
  width: 100%;
  padding: 10px 12px;
}
.pkg-lft {
  float: left;
  width: 66.2%;
}
.p1-chk {
  width: 100%;
  float: left;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  margin: 17px 0;
  font-weight: 700;
}
.pkg {
  width: 100%;
  float: left;
  background: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #3b3b3b;
}
.pkg-top-chk {
  width: 100%;
  height: 42px;
  float: left;
  padding: 0 0 0 60px;
  background: #3b3b3b url("../images/img-unchk.png") 20px 8px no-repeat;
  border-bottom: 1px solid #3b3b3b;
}
.p1-pkgchk {
  width: auto;
  float: left;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  margin: 8px 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.p1-pkgchk span {
  color: #fff600;
}
.p2-pkgchk {
  width: auto;
  height: 100%;
  float: right;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  padding: 9px 22px 10px 54px;
  background: #a5a5a5 url("../images/bg-ic-freeshpng.png") left top no-repeat;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.pkg-btm-chk {
  width: 100%;
  float: left;
  padding: 20px 12px;
}
.pkg-prod-chk {
  width: 57%;
  float: left;
  padding-top: 20px;
}
.btl-5 {
  display: inline-block;
  max-width: 100%;
}
.pkg-prc-chk {
  width: 39%;
  float: right;
}
.pkg-prcin-chk {
  width: 100%;
  float: left;
  border-radius: 10px;
  background: #3b3b3b;
  color: #fff;
  padding: 20px 12px;
}
.p4-pkgchk {
  width: 100%;
  float: left;
  font-size: 22px;
  line-height: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.p5-pkgchk {
  width: 100%;
  float: left;
  font-size: 38px;
  line-height: 38px;
  margin: 9px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fff;
}
.p5-pkgchk sub {
  font-size: 17px;
  vertical-align: middle;
}
.btn-div-chk img {
  max-width: 100%;
}
.cancl {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
}
.risk-free-div {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 0 12px 0 160px;
  background: url("../images/risk-free.png") no-repeat 12px top;
  text-align: left;
}
.risk-p1 {
  width: 100%;
  float: left;
  font-size: 22px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.risk-p2 {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
/*------------------------
CSS FOR PACKAGE ACTIVE
-------------------------*/
.pkg.active {
  border: 1px solid #8d181b;
}
.pkg.active .pkg-top-chk {
  background: #8d181b url("../images/img-chked.png") 20px 8px no-repeat;
  border-bottom: 1px solid #8d181b;
}
.pkg.active .p2-pkgchk {
  background: #000000 url("../images/bgactv-ic-freeshpng.png") left top
    no-repeat;
}
.pkg.active .pkg-prcin-chk {
  background: #8d181b;
}
/*------------------------
CSS FOR RIGHT FORM
-------------------------*/
.rgt-div-pkg {
  float: right;
  width: 31%;
}
.rgt-chk {
  width: 100%;
  float: right;
  border: 1px solid #f1f1f1;
  background: #8d181b;
  border-radius: 10px;
}
.frm-top {
  width: 100%;
  float: left;
  padding: 20px 10px 12px;
}
.frm-top img {
  display: inline-block;
  max-width: 100%;
}
.timer-bg {
  width: 100%;
  float: left;
  margin: 0px auto;
  position: relative;
  background: #4d1116;
}
.timer-bgin {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 6px 0;
}
.timeric-bnrhm {
  float: left;
  margin: 4px 12px 0 0;
}
.timer-bg-brdr {
  float: left;
  width: 100%;
}
.form-in-chk {
  width: 100%;
  float: left;
  padding: 0 6px 28px;
}
.cards-chk {
  display: table;
  margin: 28px auto 0;
}
#isbillingsame {
  width: 75%;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: table;
  margin: 18px auto 25px;
}
.radiodiv-chk {
  width: 100%;
  float: left;
  margin: 14px 0 0;
}
#isbillingsame input[type="radio"] {
  line-height: normal;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 2px;
}
#radioTwo {
  margin-left: 16px;
}
.form-holder {
  width: 100%;
  margin-bottom: 9px;
  text-align: left;
}
.form-holder label {
  width: 70px;
  float: left;
  margin-right: 6px;
  font-size: 13px;
  line-height: 28px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}
.form-holder input,
.form-holder select {
  width: 204px;
  background: #fff;
  outline: none;
  border: 1px solid #c5c7d1;
  height: 32px;
  padding: 0 8px;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.has-error input,
.has-error select {
  border-color: red;
  box-shadow: inset 0 0 3px 0 red;
}
.accept input,
.accept select,
.valid {
  border-color: greenyellow;
  box-shadow: none !important;
}
.form-holder select.w1-chk,
.form-holder input.w1-chk {
  width: 99px;
}
.cvv-image {
  display: none;
  text-align: center;
  padding: 0 0 0;
  clear: both;
}
.cvv-image img {
  width: 190px;
}
a.what {
  font-size: 13px;
  display: inline-block;
  padding: 6px 0 0 5px;
  margin: 0 0 20px 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-decoration: underline;
}
.pkg-lft [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
}
.chk-btn {
  max-width: 100%;
  display: inline-block;
  margin: 16px auto 0;
  outline: none;
  cursor: pointer;
}
.security-chk {
  display: table;
  margin: 13px auto 0;
  max-width: 100%;
}
.revw-box {
  float: left;
  width: 100%;
  margin: 25px 0 0;
  padding: 0 15px 20px;
}
.revw-p1 {
  width: 100%;
  float: left;
  font-size: 19px;
  line-height: 21px;
  font-weight: 700;
  color: #2d2d2d;
  text-align: left;
  background: url("../images/revs-line.png") no-repeat right center;
  margin-bottom: 15px;
}
.revw-p2 {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 21px;
  color: #2d2d2d;
  text-align: left;
  background: url("../images/face1.png") no-repeat left top;
  padding: 10px 0 10px 100px;
  font-style: italic;
  min-height: 88px;
}
.fc2 {
  background: url("../images/face2.png") no-repeat left top;
}
.revw-p3 {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 22px;
  color: #2d2d2d;
  font-weight: 300;
  margin-top: 12px;
  letter-spacing: -0.5px;
}
.rvw-hr {
  width: 100%;
  float: left;
  height: 1px;
  border: none;
  background: #2d2d2d;
  margin: 20px 0;
}

/*------------------------
CSS FOR SECTON FOOTER
-------------------------*/
.footer {
  float: left;
  width: 100%;
  padding: 30px 0;
  color: #202020;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  border-top: 1px solid #b8b8b8;
}
ul.list-ftr {
  width: auto;
  margin: 22px auto 16px;
  display: inline-block;
}
ul.list-ftr li {
  float: left;
  line-height: 14px;
  padding: 0 6px;
  border-right: 1px solid #202020;
}
ul.list-ftr li a {
  color: #000101;
}
ul.list-ftr li:last-child {
  border-right: none;
}
.p1-ftr {
  width: 100%;
  float: left;
  line-height: 20px;
}
.p2-ftr {
  width: 100%;
  float: left;
}

/*==================button animation=======================*/

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}
@media only screen and (max-width: 1023px) {
  .pkg-lft {
    width: 67%;
  }
  .p1-pkgchk {
    font-size: 17px;
  }
  .p2-pkgchk {
    font-size: 13px;
    padding-right: 8px;
  }
  .pkg-prod-chk {
    width: 59%;
  }
  .p4-pkgchk {
    font-size: 20px;
  }
  .p5-pkgchk {
    font-size: 22px;
  }
  .pkg-prcin-chk {
    padding: 12px;
  }
  .cards-chk {
    margin-top: 10px;
  }
  #isbillingsame {
    margin: 9px auto 9px;
  }
  .order-form .form-holder label {
    text-align: left;
    width: auto;
    float: none;
    display: block;
    line-height: 20px;
  }
  .order-form .form-holder input,
  .order-form .form-holder select {
    width: 100%;
  }
  .form-holder select.w1-chk,
  .form-holder input.w1-chk {
    display: block;
    float: left;
  }
  .form-holder select.w1-chk:first-of-type {
    margin-right: 4px;
  }
  .revw-p1 {
    font-size: 17px;
    background-size: 90px auto;
  }
  .revw-p2 {
    padding: 0 0 10px 70px;
    background-size: 60px auto;
    font-size: 14px;
    line-height: 18px;
    min-height: 0;
  }
  .revw-p3 {
    font-size: 14px;
  }
  .pkg-prc-chk {
    margin-top: 5% !important;
  }
}
