select::-ms-expand {



  display: none;



}

input, select{
    padding-right: 22px !important;
}



select{



  appearance: none;



  -webkit-appearance: none;



  -moz-appearance: none;



  background: url(../images/select-arrow.png) right center no-repeat #fff !important;



}







input.has-error,



select.has-error {



  border: 1px solid orange !important;



  background: url(../images/error-input.png) 99.5% 50% no-repeat #fff !important;



}







input.no-error,



select.no-error {



  background: url(../images/tick-input.png) 99.5% 50% no-repeat #fff !important;



  border: 1px solid green !important;



}







#app_common_modal,



#error_handler_overlay {



  overflow: hidden;



}







#app_common_modal .app_modal_body {



  margin: 30px auto;



}







@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {



  #app_common_modal .app_modal_body {



    min-height: 180px;



    margin: 30px auto;



  }



  #app_common_modal .app_modal_body iframe {



    min-height: 180px;



  }



}







@media screen and (min-width:320px) and (max-width:1200px) and (orientation:landscape) {



  #app_common_modal .app_modal_body {



    min-height: 180px;



    margin: 30px auto;



  }



  #app_common_modal .app_modal_body iframe {



    min-height: 180px;



    height: 180px;



    overflow-y: scroll;



  }



  #app_common_modal .app_modal_body,



  #error_handler_overlay .error_handler_body {



    height: auto;



  }



  .error_handler_body ul li {



    font-size: 12px;



  }



  #error_handler_overlay .error_handler_body ul {



    height: auto;



    overflow: scroll;



  }



}











#error_handler_overlay .error_handler_body{



  margin: 30px auto;



}







.timer-line {



    text-align: center;



    width: 100%;



    background: #000;



    line-height: 2;



}



#loading-indicator:after,



#loading-indicator:before{



    display:none;



}



.white_box{



    background: #fff;



    border-radius: 5px;



    color: #000;



    font-family: arial;



    font-size: 17px;



    height: 110px;



    padding:10px;



    max-width: 300px;



    width:95%;



    z-index: 1;



    text-align:center;



    position: absolute;



    left: 50%;



    top: 50%;



    transform: translate(-50%, -50%);



    -webkit-transform: translate(-50%, -50%);



    -moz-transform: translate(-50%, -50%);



}



.white_box i,



.white_box span{



    display:block;



}



.white_box span{



    margin:top:5px;



}



.white_box img{



    max-width: 64px;



    width: 100%;



    display: inline-block;



}



@media(max-width:480px){



    .white_box span{



        font-size:14px;



    }



}



@media(min-width:768px)and (max-width:1199px){



    .cta-block__bottle img{



        width:120px;



        margin-top: -40px !important;



    }



}



form.is-upsell{



    padding:0px;



}
.newadd{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}
html{
    -webkit-text-size-adjust: 100%;
}
@media(max-width:480px){
    .user-info li span{
        font-size: 12px;
    }
}
.precheck{
    background: #2984ff;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    color: #fff;
    padding: 15px 15px 6px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.chlLeft{
    width: 83%;
    display: inline-block;
    vertical-align: middle;
}
.checkRight{
    display: inline-block;
    vertical-align: middle;
    width: 12%;
    position: relative;
}
.chlLeft input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.chlLeft label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  width: 100%;
  padding-left: 25px;
}

.chlLeft label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding:8px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  background-color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  border-radius: 2px;
}

.chlLeft input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top:6px;
  left:7px;
  width: 4px;
  height: 14px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.newtoolTip{
    position: absolute;
    right:-20px;
    top:50%;
    width: 15px;
    height: 15px;
    color: #fff;
    background: #78b0fb;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.newtoolTip a{
    text-decoration: none;
    display: block;
}
.checkRight i {
    display: block;
    margin: 6px 0px 0 0;
}
.taddaR{
    animation-name: taddaR;
    -webkit-animation-name: taddaR;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes taddaR {

	0% {

		transform: translateX(0)

	}

	50% {

		transform: translateX(-15px)

	}

	100% {

		transform: translateX(0)

	}

}
.redCheck{
    background: url(../images/red-arw.png) -2px top no-repeat;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 0 0 12px;
    position: absolute;
    top: -12px;
    left: 40px;
    width: 184px;
    height: 25px;
}
.newtooltiptext{
    visibility: hidden;
    background: #3c3c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-align: left;
    right: -30px;
    width: 350px;
    bottom: calc(100% + 15px);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .5px;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
}
.newtoolTip:hover .newtooltiptext{
    visibility: visible;
}
.newtooltiptext:after{
    content: "";
    position: absolute;
    right: 28px;
    top: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3c3c3c;
    margin-top: -1px;
}
@media(min-width:769px) and (max-width:991px){
    .chlLeft label {
        font-size: 14px;
        line-height: 18px;
    }
    .chlLeft{
        width: 80%;
    }
}
@media(max-width:991px){
    .newtooltiptext{
        right:0;
    }
    .newtooltiptext:after{
        right:3px;
    }
    .newtooltiptext:after{
        margin-top: -1px;
    }
}
@media(max-width:768px){
    .precheck {
        max-width: 320px;
        margin:10px auto 0;
    }
}
@media(max-width:400px){
    .chlLeft label{
        font-size: 12px;
    }
    .redCheck{
        font-size: 15px;
    }
    .newtooltiptext{
        width: 275px;
    }
}
.cvv-image{
    height: auto;
}

.u-label {
        max-width: 110px
      }

      .breadcrumbs ul li {
        background: url(../images/arr-defolt.svg) no-repeat center;
        background-size: contain
      }

      .breadcrumbs ul li.active {
        background-image: url(../images/arr-active.svg);
        background-size: contain
      }

      .breadcrumbs ul li:first-child span {
        /* background: url(../images/Check.svg) no-repeat center; */
        background-size: contain
      }

      .breadcrumbs ul li.active span {
        background: url(../images/ch-actve.svg) no-repeat center;
        background-size: contain
      }

      .u-user-row:before {
        background: url(../images/review_icon.svg)
      }

      .u-stars li {
        background: url(../images/star.svg) no-repeat;
        background-size: contain
      }

      .u-stars li.half {
        background-image: url(../images/half-star.svg)
      }

      .u-old-price:before {
        top: 50%;
        left: -6px;
        margin-top: -1.5px;
        transform: none
      }

      .gummies .u-label1 {
        top: 61px;
        max-width: 110px;
        right: -40px
      }

      .u-list li:before {
        background: url(../images/list-mark.svg) no-repeat;
        background-size: contain!important
      }

      @media(max-width:991px) {
        .gummies .u-label1 {
          top: 70px;
          right: -20px
        }
      }
      .pulsate {
          -webkit-animation: pulsate 1.5s ease-out;
          -webkit-animation-iteration-count: infinite; 
          opacity: 0.5;
      }
      @-webkit-keyframes pulsate {
          0% { 
              opacity: 0.5;
          }
          50% { 
              opacity: 1.0;
          }
          100% { 
              opacity: 0.5;
          }
      }

      .terms-links {
	text-align: center
}

.terms-links li {
	display: inline-block
}

.terms-links li a {
	color: #a2d408!important;
	font-size: .75rem;
	text-decoration: none;
    font-family: Poppins,sans-serif!important;
}
.ups .u-copyright{
    margin-bottom: 15px;
    font-size: 12px;
}
#cardMonth{
    padding-right: 20px;
}


.footer_link{
    text-align: center;
    margin-bottom: 20px;
}
.footer_link a{
        display: inline-block;
    margin: 5px 0;
    font-size: 12px;
    width: auto;
        text-decoration: none;
    color: #006c7c;
}
.footer_link a:hover{color: #000;}
.footer_link p{
    display: block;
        margin-bottom: 5px;
        font-size: 12px;
}
h3.customer-support {
    margin-top: 24px;
}
.cvv-image.clear{
    margin-bottom: 10px;
}